<div class="container">
    <label><strong>Current users</strong></label>
    <ul>
        <li ng-repeat="user in users">{{user.name}}</li>
    </ul>

    <form name="addUserForm">
        <label for="name"><strong>Name</strong></label>
        <input id="name" ng-model="user.name" type="text" ng-change="checkUserDuplicate()" required/>
        <div>
            <button class="btn" type="button" ng-click="addUser()" ng-disabled="!addUserForm.$valid || duplicate">Add</button>
        </div>
    </form>
</div>